main {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
  margin-top: 2rem;
}

@media only screen and (max-device-width: 330px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (max-device-width: 736px) {
  main {
    padding: 0 1rem;
  }
}

body {
  background: #e1e1e1;
  color: #1e2227;
  font-family: 'Source Code Pro', monospace;
  margin: 0;
  padding: 0;
}

.nav {
  list-style: none;
  margin: auto;
  padding: 1.5rem 0;
  text-align: center;
}

.nav-home {
  margin-right: 5rem;
}

.nav li {
  display: inline-block;
  padding: 0 .5rem;
}

main.resume h2 {
  border-bottom: 2px solid #007bff;
}

.timeline-year {
  font-size: 1.2em;
  color: #007bff;
  font-weight: 400;
}

.timeline-event {
  font-size: 1.2em;
  font-weight: 500;
}

.timeline-location {
  color: #e1e1e1;
  font-style: italic;
}

.timeline-link {
  display: inline;
  border-width: 1px;
}

.value {
  font-size: 1rem;
  font-style: italic;
  text-decoration: underline;
}

.resume p {
  line-height: 1.2rem;
}

.resume h3 {
  color: #007bff;
}

.resume ul {
  list-style: none;
  padding: 0;
}

.resume ul.skills {
  display: inline-block;
  margin: 0;
  padding-right: 2rem;
  vertical-align: top;
}

.resume li {
  line-height: 1.2rem;
}

a,
a:active,
a:visited {
  border-bottom: 2px solid #007bff;
  color: #1e2227;
  padding: 0 .2rem;
  text-decoration: none;
  font-style: italic;
}

a:hover {
  background-color: #007bff;
}

h1 {
  margin: 0;
  margin-bottom: .1rem;
}

p {
  line-height: 1.8em;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #e1e1e1;
    background: #1e2227;
  }

  a,
  a:active,
  a:visited {
    border-color: #007bff;
    color: #e1e1e1;
    text-decoration: none;
  }
}